html{
    background: url(ws_Halo_cut.jpg)  no-repeat center center fixed; 
   
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#entry {
font-size: x-large;
font-family: 'Times New Roman', Times, serif;
color:orangered;

}

img {
border: 5px solid green;
}